#TitleText{
	color:#000000;
	font-size:36px;
	font-weight:normal;
	font-family:Arial;
	text-align:center;
}
.ContactInfo{
	color:#000000;
	font-size:16px;
	font-weight:normal;
	font-family:Arial;
	text-align:center;
}
.SectionHdr{
			color:#C00000;
			font-size:20px;
			font-weight:bold;
			font-family:Arial;
			text-align:left;
}
.ExpTitle{
			color:#000000;
			font-size:11.5pt;
			line-height:100%;
			font-weight:bold;
			font-family:Arial;
			text-align:left;
}
.ExpDates{
			color:#000000;
			font-size:11.5pt;
			line-height:100%;
			font-weight:normal;
			font-style: italic;
			font-family:Arial;
			text-align:left;
}
.ExpText{
			color:#000000;
			font-size:9.5pt;
			line-height:120%;
			font-weight:normal;
			font-family:Arial;
			text-align:left;
}
.GenText{
		color:#000000;
		font-size:10.5pt;
		line-height:120%;
		font-weight:normal;
		font-family:Arial;
		text-align:left;
}